/*Step 25,39,59,95*/
:root{
  --building-color1: #aa80ff;
  --building-color2: #66cc99;
  --building-color3: #cc6699;
  --building-color4: #538cc6;
  --window-color1: #bb99ff;
  --window-color2: #8cd9b3;
  --window-color3: #d98cb3;
  --window-color4: #8cb3d9;
}
/*Step 5,6*/
*{
    border: 1px solid black;
    box-sizing:border-box ;
}

/*Step 6*/
body{
    height:100vh;
    margin:0;
    overflow:hidden;
  }

  /*Step 9,20,33
  .background-buildings{
    width:100%;
    height:100%;
    justify-content: space-evenly;
    align-items: flex-end;
    display:flex;
    top:0;
    display: flex;
  }*/
  .background-buildings, .foreground-buildings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
  }

  /*Step 65,66*/
  .building-wrap{
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  /*Step 71*/
  .window-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /*BACKGROUND BUILDINGS - "bb" stands for "background building" Step 38*/
  /*Step 10,13,14,17,24,25,66*/
  .bb1{
    width: 10%;
    height: 70%;
  }  

  /*Step 41*/
  .bb1-window {
    height: 10%;
    background: linear-gradient(
        var(--building-color1),
        var(--window-color1)
      );
  }

  /*Step 12,15,41,43*/
  .bb1a{
    width: 70%;
  }
  
  
  /*Step 12,16,43*/
  .bb1b{
    width: 80%;
  }
  /*Step 12,16,43*/
  .bb1c{
    width: 90%;
  }
  /*Step 12,16,40,44,45,46,47*/
  .bb1d{
    width: 100%;
    height: 70%;
    background: linear-gradient(
      var(--building-color1) 60%,
      var(--window-color1)
    );
  }

  /*Step 19,22,23,26,53*/
  .bb2 {
    width: 10%;
    height: 50%;
  }

  /*Step 54,55,56,57,58*/
  .bb2a {
    border-bottom: 5vh solid var(--building-color2);
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
  }

  /*Step 49,52,53*/
  .bb2b {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      var(--building-color2),
      var(--building-color2) 6%,
      var(--window-color2) 6%,
      var(--window-color2) 9%
    );
  }

  /*Step 19,24,26,60,61*/
  .bb3 {
    width: 10%;
    height: 55%;
    background: repeating-linear-gradient(
      90deg,
      var(--building-color3),
      var(--building-color3),
      var(--window-color3) 15%
    );
  }

  /*Step 19,27,64*/  
  .bb4 {
    width: 11%;
    height: 58%;
  }

  /*Step 63,64*/ 
  .bb4a{
    width: 3%;
    height: 10%;
    background-color: var(--building-color4);
  }

  /*Step 63,64*/ 
  .bb4b{
    width: 80%;
    height: 5%;
    background-color: var(--building-color4);
  }

  /*Step 63,64*/ 
  .bb4c{
    width: 100%;
    height: 85%;
    background-color: var(--building-color4);
  }

  /*Step 70*/
  .bb4-window {
    width: 18%;
    height: 90%;
    background-color: var(--window-color4);
  }

  /*Step 29,32,33,33
  .foreground-buildings{
    width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  }*/

  /*FOREGROUND BUILDINGS - "fb" stands for "foreground building",Step 38*/
  /*Step 31,35,75*/
  .fb1{
    width: 10%;
    height: 60%;
  }

  /*Step 79,80*/
  .fb1a{
    border-bottom:7vh solid var(--building-color4);
    border-bottom: 7vh solid var(--building-color4);
    border-left:2vw solid transparent;
    border-right:2vw solid transparent;
  }

  /*Step 74,75,78*/
  .fb1b{
    width: 60%;
    height: 10%;
    background-color: var(--building-color4);
  }
  
  /*Step 74*/
  .fb1c{
    width: 100%;
    height: 80%;
    background: repeating-linear-gradient(
      90deg,
      var(--building-color4),
      var(--building-color4) 10%,
      transparent 10%,
      transparent 15%
    ),
    repeating-linear-gradient(
      var(--building-color4),
      var(--building-color4) 10%,
      var(--window-color4) 10%,
      var(--window-color4) 90%
    );
  }

  /*Step 31,35,86*/
  .fb2{
    width: 10%;
    height: 40%;
    
  }

  /*Step 82,87*/
  .fb2a {
    width: 100%;
    border-bottom: 10vh solid var(--building-color3);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
  }

  /*Step 82,86*/
  .fb2b {
    width: 100%;
    height:75%;
    background-color: var(--building-color3);
  }

  /*Step 85*/
  .fb2-window{
    width:22%;
    height:100%;
    background-color:var(--window-color3);
  }

  /*Step 31,35,90*/
  .fb3{
    width: 10%;
    height: 35%;
  }

  /*Step 89,90*/
  .fb3a {
    width: 80%;
    height: 15%;
    background-color: var(--building-color1);
  }

  /*Step 89,90*/
  .fb3b {
    width: 100%;
    height: 35%;
    background-color: var(--building-color1);
  }

  /*Step 93*/
  .fb3-window {
    width: 25%;
    height: 80%;
    background-color: var(--window-color1);
  }

  /*Step 31,35,37*/
  .fb4{
    width: 8%;
    height: 45%;
    background-color: var(--building-color1);
    position:relative;
    left:10%;
  }
  
  /*Step 31,35,37*/
  .fb5{
    width: 10%;
    height: 33%;
    background-color: var(--building-color2);
    position:relative;
    right:10%;
  }
  
  /*Step 31,35*/
  .fb6{
    width: 9%;
    height: 38%;
    background-color: var(--building-color3);
  }

  /*Step 33
  .background-buildings,.foreground-buildings{
    position: absolute;
    top: 0;
  }*/
  