/*Step 25,39*/
:root{
  --building-color1: #aa80ff;
  --building-color2: #66cc99;
  --building-color3: #cc6699;
  --building-color4: #538cc6;
  --window-color1:black;
}
/*Step 5,6*/
*{
    border: 1px solid black;
    box-sizing:border-box ;
}

/*Step 6*/
body{
    height:100vh;
    margin:0;
    overflow:hidden;
  }

  /*Step 9,20,33
  .background-buildings{
    width:100%;
    height:100%;
    justify-content: space-evenly;
    align-items: flex-end;
    display:flex;
    top:0;
    display: flex;
  }*/
  .background-buildings, .foreground-buildings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
  }

  /*BACKGROUND BUILDINGS - "bb" stands for "background building" Step 38*/
  /*Step 10,13,14,17,24,25*/
  .bb1{
    width: 10%;
    height: 70%;
    display:flex;
    flex-direction:column;
    align-items:center;
  }  

  /*Step 12,15,41*/
  .bb1a{
    width: 70%;
    background-color:var(--building-color1);
  }
  /*Step 41*/
  .bb1-window{
    height: 10%;
    background: linear-gradient(
       var(--building-color1),
       var(--window-color1)
     );
 }
  /*Step 12,16*/
  .bb1b{
    width: 80%;
    height: 10%;
    background-color: var(--building-color1);
  }
  /*Step 12,16*/
  .bb1c{
    width: 90%;
    height: 10%;
    background-color: var(--building-color1);
  }
  /*Step 12,16,40*/
  .bb1d{
    width: 100%;
    height: 70%;
    background-color: var(--building-color1);
  }

  /*Step 19,22,23,26*/
  .bb2 {
    width: 10%;
    height: 50%;
    background-color: var(--building-color2);
  }

  /*Step 19,24,26*/
  .bb3 {
    width: 10%;
    height: 55%;
    background-color:var(--building-color3);
  }

  /*Step 19,27*/  
  .bb4 {
    width: 11%;
    height: 58%;
    background-color: var(--building-color4);
  }

  /*Step 29,32,33,33
  .foreground-buildings{
    width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  }*/

  /*FOREGROUND BUILDINGS - "fb" stands for "foreground building",Step 38*/
  /*Step 31,35*/
  .fb1{
    width: 10%;
    height: 60%;
    background-color: var(--building-color4);
  }

  /*Step 31,35*/
  .fb2{
    width: 10%;
    height: 40%;
    background-color: var(--building-color3);
  }

  /*Step 31,35*/
  .fb3{
    width: 10%;
    height: 35%;
    background-color: var(--building-color1);
  }
  /*Step 31,35,37*/
  .fb4{
    width: 8%;
    height: 45%;
    background-color: var(--building-color1);
    position:relative;
    left:10%;
  }
  
  /*Step 31,35,37*/
  .fb5{
    width: 10%;
    height: 33%;
    background-color: var(--building-color2);
    position:relative;
    right:10%;
  }
  
  /*Step 31,35*/
  .fb6{
    width: 9%;
    height: 38%;
    background-color: var(--building-color3);
  }

  /*Step 33
  .background-buildings,.foreground-buildings{
    position: absolute;
    top: 0;
  }*/
  